body {
    background: #f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/*Main-content*/
.main-content {
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/*Sidebar*/
.sidebar {
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.contacts-container {
    margin-bottom: 40px;
}






.my-name {

    font-weight: 700;
    font-size: 45px;
    line-height: 122%;
    color: #000;
    margin-bottom: 12px;
    margin-top: 0;
}

.my-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #595959;

}

.my-info {
    margin-bottom: 40px;
}